@font-face {
font-family: 'Myriad Pro';
src: 
url('MyriadPro-Regular.woff') format('woff'),
url('MyriadPro-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}